{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
</head>

<body>
<!-- Nav Bar Start -->

<!-- Nav Bar End -->

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Why Choose Us</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Features</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Feature Start -->
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-header">
                    <p>Why Choose Us</p>
                    <h2>Our Key Features</h2>
                </div>
                <div class="feature-text">
                    <div class="feature-img">
                        <div class="row">
                            <div class="col-6">
                                <img src="{% static 'img/feature-1.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-2.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-3.jpg' %}" alt="Image">
                            </div>
                            <div class="col-6">
                                <img src="{% static 'img/feature-4.jpg' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                    <p>
                        What is the best thing to eat at Burger King? New Burger King items, like the Sourdough King and
                        the Rodeo King, are two of the most popular things on their menu. Other good Burger King foods
                        include the Original Chicken Sandwich, the Crispy Chicken Sandwich, and spicy chicken
                        nuggets.
                    </p>
                    <a class="btn custom-btn" href="{% url 'Orderapp:booking' %}">Book A Table</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-cooking"></i>
                            <h3>World’s best Chef</h3>
                            <p>
                                A chef oversees a restaurants kitchen. A chef plans the menu, maintains the budget,
                                prices menu items, prepares food, etc.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-vegetable"></i>
                            <h3>Natural ingredients</h3>
                            <p>
                                The chain is promoting its real food with celebrity-based 'Keep it Real' meals.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-medal"></i>
                            <h3>Best quality products</h3>
                            <p>
                                Quality ingredients can have a true impact on the taste of food that is served at a
                                restaurant.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-meat"></i>
                            <h3>Fresh vegetables & Meet</h3>
                            <p>
                                Our beef patties are made with 100% beef with no fillers, no preservatives, no
                                additives, no nonsense. We also provide fresh vegitable products.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-courier"></i>
                            <h3>Fastest door delivery</h3>
                            <p>
                                Food delivery is a courier service in which a restaurant, store, or independent food
                                delivery company delivers food to a customer.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="feature-item">
                            <i class="flaticon-fruits-and-vegetables"></i>
                            <h3>Ground beef & Low fat</h3>
                            <p>
                                We also make our flagship product, the WHOPPER® Sandwich, with 1/4 lb* of savory
                                flame-grilled beef. Now that's a beefy sandwich.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Footer Start -->

<!-- Footer End -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

{% endblock content %}

</body>
</html>
